body {
    height: 100vh;
    width: 100vw;
    background: url('../assets/bg.png') no-repeat;
    background-size: cover;
    overflow: hidden;
}

.container {
    width: 100%;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: calc(100vw - 100px) 100px;
    grid-template-rows: 100px calc(100vh - 100px);
}

header {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    padding: 0px 0 0 100px;
    height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.content {
    position: relative;
    padding: 0px 5em;
}

.main {
    display: flex;
}

.main-content {
    margin-left: 5em;
}
@media only screen and (max-width: 991px) {
    body {
        background-position: -50em;
    }
    .hide-991 {
        display: none;
    }

    .show-991 {
        display: block;
    }

    .pagination.show-991 {
        display: grid;
        margin-top: 2em;
    }

    .content {
        grid-column: 1 / -1;
    }

    header, .content {
        padding: 0px 25px;
    }

    .main-content {
        margin-left: 0em;
        position: relative;
    }

    .banner-text {
        margin-top: 40px;
        max-width: calc(100% - 12px);
    }

    .primary-button {
        width: calc(100% - 12px);
    }

    .desc {
        margin-top: 10vh;
    }

    .secondary-info {
        position: fixed;
        bottom: 3em;
        width: 90%;
    }
}

@media only screen and (max-width: 1400px) and (max-height: 768px) {
    .banner-text {
        font-size: 1.5em;
        margin-top: 50px;
    }
    
    .pagination.vertical span:first-child {
        margin-top: 50px;
    }

    .pagination.horizontal {
        display: none;
    }

    body {
        background-position: -5em -7em;
    }
}

@media only screen and (max-width: 450px) and (max-height: 850px) {
    body {
        background-position: -65em;
    }
}

@media only screen and (orientation: landscape) {
    .pagination.horizontal {
        display: none;
    }
}